{% extends 'layouts/layout.html' %}

{% load static %}

{% block title %}
{{ titulo }}
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-10 offset-sm-1 col-md-10 offset-md-1">
          <br>
          <div class="card border-primary">
            <div class="card-title text-white bg-primary">
              <h5 class="text-left m-4">{{ titulo_pagina  }}</h5>
            </div>
            <form method="POST">
                {% csrf_token %}
                <div class="card-body">
                  <div class="row form-group">
                      <div class="col-sm-12 text-danger " >
                        {{ form.nombre.errors }}
                      </div>
                      <div class="col-sm-12 col-md-3">
                        {{ form.nombre.label }}
                      </div>
                      <div class="col-sm-12 offset-md-1 col-md-8">
                        {{ form.nombre }}
                      </div>
                  </div>
                  <div class="row form-group">
                      <div class="col-sm-12 text-danger " >
                        {{ form.descripcion.errors }}
                      </div>
                      <div class="col-sm-12 col-md-3">
                        {{ form.descripcion.label }}
                      </div>
                      <div class="col-sm-12 offset-md-1 col-md-8">
                        {{ form.descripcion }}
                      </div>
                  </div>
                </div>

                <div class="card-footer">
                  <div class="row m-0 p-0 button-group">
                    <div class="col-sm-3 offset-sm-9">
                      <br>
                      <button type="submit" class="btn btn-outline-success fs-7">Guardar</button>
                      <a href="{% url 'fdv:tipooportunidad-index' %}"><button type="button" class="btn btn-outline-danger fs-7">Cancelar</button></a>
                    </div>
                  </div>
                </div>
            </form>
          </div>
        </div>
    </div>

</div>
{% endblock content %}
