{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title  %}</title>

    <!-- Styles -->
    {% block styles %}
        {% comment %} <link href="{% static 'css/normalize.css' %}" rel="stylesheet"> {% endcomment %}
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'css/fa-all.css' %}" rel="stylesheet">
        <link href="{% static 'css/app.css' %}" rel="stylesheet">
    {% endblock styles %}
</head>
<body>
    {% block nav %}
        {% include 'layouts/nav.html' %}
    {% endblock nav %}
    <div id="app">
        {% block content %}{% endblock content %}
    </div>

    <!-- Scripts -->
    {% block scripts %}
    <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.bundle.js' %}"></script>
    <script>
        $('.confirmation').on('click', function () {
            return confirm('Esta seguro de ejecutar esta acción?');
        });
    </script>
    {% endblock scripts %}
</body>
</html>
