{% load static %}


<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}">FDV</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        {% comment %} <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li> {% endcomment %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Configuración
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item fs-7" href="{% url 'base:ciudad-index' %}">Ciudad</a></li>
            <li><a class="dropdown-item fs-7" href="{% url 'base:estado-index' %}">Estado</a></li>
            <li><a class="dropdown-item fs-7 text" href="{% url 'base:pais-index' %}">País</a></li>
            <li><hr class="dropdown-divider"></li>
            {% comment %} <li><a class="dropdown-item fs-7" href="{% url 'base:sector-index' %}">Sectores</a></li>
            <li><a class="dropdown-item fs-7" href="{% url 'base:ramo-index' %}">Ramos</a></li> {% endcomment %}
            {% comment %} <li><a class="dropdown-item fs-7" href="{% url 'base:actividad-index' %}">Actividades</a></li> {% endcomment %}
            <li><a class="dropdown-item fs-7" href="{% url 'base:tipoempresa-index' %}">Tipo de Empresa</a></li>
            <li><a class="dropdown-item fs-7" href="{% url 'base:tamanoempresa-index' %}">Tamaño de Empresa</a></li>
            <li><a class="dropdown-item fs-7" href="{% url 'base:tipocapital-index' %}">Tipo de Capital</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item fs-7" href="{% url 'base:vendedor-index' %}">Vendedor</a></li>
            <li><a class="dropdown-item fs-7" href="{% url 'base:region-index' %}">Región</a></li>
            <li><a class="dropdown-item fs-7" href="{% url 'base:zona-index' %}">Zona</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item fs-7" href="{% url 'terceros:tipotercero-index' %}">Tipo de Tercero</a></li>
            <li><a class="dropdown-item fs-7" href="{% url 'terceros:tipopersona-index' %}">Tipo de Persona</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item fs-7" href="{% url 'fdv:tipogestion-index' %}">Tipo de Gestión</a></li>
            <li><a class="dropdown-item fs-7 text" href="{% url 'fdv:tipooportunidad-index' %}">Tipo de Oportunidad</a></li>
            <li><a class="dropdown-item fs-7 text" href="{% url 'fdv:etapa-index' %}">Etapa</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Terceros
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item fs-7" href="{% url 'terceros:tercero-index' %}">Terceros</a></li>
            <li><a class="dropdown-item fs-7" href="{% url 'terceros:persona-index' %}">Personas</a></li>
            <li><a class="dropdown-item fs-7" href="{% url 'terceros:sucursal-index' %}">Sucursales</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Gestión
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item fs-7" href="{% url 'fdv:captacion-index' %}">Captación</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item fs-7" href="{% url 'fdv:oportunidad-index' %}">Oportunidad</a></li>
            <li><a class="dropdown-item fs-7" href="{% url 'fdv:gestion-index' %}">Gestión</a></li>
            <li><a class="dropdown-item fs-7" href="{% url 'fdv:documento-index' %}">Documento</a></li>
            <li><a class="dropdown-item fs-7" href="{% url 'fdv:ficha-index' %}">Ficha de Tercero</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
